
.movie-wrapper {
  position: relative;

  &:hover .movie-image {
    opacity: .25;
  }

  .movie-info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 100%;
    left: 0;
    padding: 0 10px;
    line-height: 1.5;
    height: 100%;
    opacity: 0;
    transition: all .25s ease;

    .movie-title {
      font-weight: bold;
      font-size: 1vw;
      margin: 0;
      letter-spacing: 1.4px;
    }

    .movie-overview {
      font-size: .75vw;
      letter-spacing: .5px;
      line-height: 1.5;
    }
  }

  &:hover .movie-info-container {
    top: 0%;
    opacity: 1;
  }
}