.mobile-nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0a0c13;
  display: none;

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    .nav-icon {
      height: 55px;
      filter: brightness(.35);
      transition: all .25s ease;
    }
    .user-image {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 1px solid white;
      filter: brightness(.5);
      transition: all .25s ease;
    }
  }
}

.normal-brightness {filter: brightness(1) !important;}

@media only screen and (max-width: 900px) {
  .mobile-nav-container {
    display: block;
  }
}