.image-wrapper {
  position: relative;

  .image-wrapper-info {
    position: absolute;
    bottom: 1rem;
    left: -5%;

    opacity: 0;
    visibility: hidden;

    background-color: #1b1b1b80;
    backdrop-filter: blur(4px);
    width: 380px;
    padding: 20px;
    border-radius: 4px;
    transition: all .25s ease;
    z-index: 0;
    pointer-events: none;


    .image-wrapper-title {
      margin: 0;
      font-size: 20px;
    }

    .image-wrapper-overview {
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }

  &:hover .image-wrapper-info {
    opacity: 1;
    visibility: visible;
    left: 2rem;
  }
}